---
key: 2
title: 开 发
permalink: /topics/
options:
excerpt: 在这儿如果帮到了你，那真是太荣幸了
image: pic01.jpg
background-image: pic01.jpg
---

{%  if site.posts %}{%
      if site.tags.featured %}
  <hr style="margin:0 0 1em 0;" />
  <h4>Featured</h4>
  <ul class="post-list">{%
        for post in site.categories.topics %}{%
          if post.tags contains "featured" %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div class="container">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
            <p class="post-desc">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
      </li>{%
          endif %}{%
        endfor %}
  </ul>{%
      endif %}
  <hr style="margin:1em 0 1em 0;" />

    <ul style="list-style-type: none;">
	<br/><h5>Android学习</h5>
	{%  for post in site.categories.topics %}
	  {%  if post.tags contains "androidlearn" %}
      <li style="padding-bottom: 8px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>
      </li>
	  {%  endif %}
    {%  endfor %}
	
	<br/><h5>源码探索</h5>
	{%  for post in site.categories.topics %}
	  {%  if post.tags contains "sourceexploration" %}
      <li style="padding-bottom: 8px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>
      </li>
	  {%  endif %}
    {%  endfor %}
	
	<br/><h5>Android架构</h5>
	{%  for post in site.categories.topics %}
	  {%  if post.tags contains "androidframework" %}
      <li style="padding-bottom: 8px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>
      </li>
	  {%  endif %}
    {%  endfor %}
	
	<br/><h5>开发中遇到的坑</h5>
	{%  for post in site.categories.topics %}
	  {%  if post.tags contains "problem" %}
      <li style="padding-bottom: 8px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>
      </li>
	  {%  endif %}
    {%  endfor %}
	
	<br/><h5>资料整理集合</h5>
	{%  for post in site.categories.topics %}
	  {%  if post.tags contains "datacollection" %}
      <li style="padding-bottom: 8px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>
      </li>
	  {%  endif %}
    {%  endfor %}
	
	<br/><h5>扩展了解</h5>
	{%  for post in site.categories.topics %}
	  {%  if post.tags contains "expanded" %}
      <li style="padding-bottom: 8px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>
      </li>
	  {%  endif %}
    {%  endfor %}
	
	<br/><h5>开发习惯</h5>
	{%  for post in site.categories.topics %}
	  {%  if post.tags contains "developmenthabits" %}
      <li style="padding-bottom: 8px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
        <a href="{{ post.url }}" style="white-space: nowrap;"><b>{{ post.title }}</b></a>
      </li>
	  {%  endif %}
    {%  endfor %}
		
    </ul>

{%  endif %}

